<section class="py-5">
    <h1 class="display-3">
        Thank you for Purchasing my Ebook 
    </h1>
    <p class="lead">
        Check your email, You will receive your book within 30 minutes 
    </p>
    <a href="/" class="btn btn-dark btn-lg">
        Home Page
    </a>
</section>